{
    "extends": "xo",
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "@typescript-eslint/no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
        "no-undef": 0,
        "no-unused-vars": 0,
        "quotemark": [true, "single", "avoid-escape", "avoid-template"],
        "singleQuote": true,
        "indent": ["error", 4]
    }
}
